.ScetchSideMenu {
  position: fixed;
  width: 250px;
  background-color: var(--bgc);
  border: 1px solid rgba(var(--rgba-contrast));
  // @@TODO block padding var
  padding: 10px;
  border-radius: var(--block-roundness);
  top: 40px;
  left: 40px;
  height: calc(100vh - 80px);

  .side-menu-list {
    display: flex;
    flex-direction: column;
    gap: var(--column-gap);
  }
}
