.KButton {
  --k-button-color: var(--btn-color);
  --k-button-text-color: var(--color-primary);

  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--k-button-color);
  border: 2px solid var(--k-button-color);
  color: var(--k-button-text-color);
  border-radius: var(--block-roundness);

  &--size {
    &-MINI {
      gap: 3px;
      font-size: 8px;
      padding: 2px;
      border-radius: calc(var(--block-roundness) / 2);
    }
  }

  &--preset-style {
    &-TRANSPARENT {
      --k-button-color: transparent;
      --k-button-text-color: var(--color-primary);

      &:hover {
        --k-button-color: var(--btn-color);
      }
    }

    &-SECONDARY {
      --k-button-color: var(--btn-color-secondary);
    }
  }
}
