.Header {
  padding: 10px 0;
  background-color: rgba(var(--rgba-contrast), 0.1);

  .container {
    display: flex;
    align-items: center;
  }
}

.Burger {
  width: 20px;
  height: 20px;
  position: relative;
  > * {
    position: absolute;
    width: 100%;
    background-color: var(--contrast);
    height: 3px;
    &:nth-child(2) {
      top: calc(50% - 1.5px);
    }
    &:nth-child(3) {
      bottom: 0;
    }
  }
}
