@use './stylesBase';

.KCard {
  @include stylesBase.KCardBase;

  position: relative;
  background-color: var(--block-color);
  overflow: hidden;
  border: 1px solid var(--block-color);
  font-size: 1rem;
  line-height: 1em;
  filter: drop-shadow(0 0 0 var(--contrast));
  transition: 0.3s;
  &:hover {
    filter: drop-shadow(2px 2px 0px var(--contrast));
  }

  .link {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }

  .img {
    position: relative;
    height: 200px;
    border-bottom: 1px solid var(--contrast);
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .img-icon-fallback {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .actions {
      display: flex;
      position: absolute;
      top: 5px;
      right: 5px;
      flex-direction: column;
      gap: 5px;
      z-index: 10;
    }
  }
  .title {
  }
  .description {
  }
  .bottom {
    color: var(--color-primary);
    padding: 5px;
  }
}
